@font-face {
  font-family: montserrat-bold;
  src: url(./fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: montserrat-regular;
  src: url(./fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: montserrat-medium;
  src: url(./fonts/Montserrat-Medium.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
header {
  padding-top: 56px;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.container {
  width: 1420px;
  margin: 0 auto;
}
header ul {
  display: flex;
  width: 548px;
  justify-content: space-between;
  margin-right: 195px;
}
header ul li a{
  font-size: 18px;
  color: #2B3252;
  font-family: montserrat-bold;
  transition: 0.3s;
  border-bottom: 1px solid transparent;
  position: relative;
}
header ul li a::after{
  content: "";
  background-color: #EF5555;
  width: 0px;
  height: 2px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
}
header ul li a:hover,
header ul li a:hover::after {
  color: #EF5555;
  width: 18px;
}
header input {
  width: 210px;
  height: 30px;
  outline: none;
  border-bottom: 1px solid #EAECF0;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 2px;
  background-image: url("./assets/search-icon.svg");
  background-repeat: no-repeat;
  background-position: right bottom 11px;
}
header input::placeholder {
  font-family: montserrat-regular;
  font-size: 14px;
  color: #2B3252;
}
header input::-webkit-search-cancel-button {
  display: none;
}
header input::-ms-clear {
  display: none;
}
header button,
footer button{
  margin-top: 37px;
  width: 130px;
  height: 42px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  font-family: montserrat-bold;
  font-size: 14px;
  color: white;
  position: relative;
  padding: 10px 14px 10px 18px;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}
footer button:hover {
  background-color: #ffffff;
  color: #EF5555;
}
header button:hover {
  background-color: #2B3252;;
  color: #ffffff;
}
header button:hover::after{
  right: 15px;
}
footer {
  background: #2B3252;
  padding: 75px 0px 65px;
}
footer a {
  font-family: montserrat-bold;
  font-size: 18px;
  color: #ffffff;
  line-height: 22px;
  transition: 0.3s;
}
footer a:hover {
  color: #EF5555;
}
footer nav ul:first-of-type {
  display: flex;
  margin-top: 10px;
  width: 441px;
  justify-content: space-between;
}
footer nav ul:last-of-type {
  display: flex;
  width: 82px;
  justify-content: space-between;
  margin-top: 35px;
}
footer nav ul:last-of-type li {
  transition: 0.2s ease;
}
footer nav ul:last-of-type li:hover{
  transform: scale(1.1) rotate(360deg);
}
footer .container {
  display: flex;
  justify-content: space-between;
}
footer input {
  background: transparent;
  margin-bottom: 30px;
  width: 230px;
  height: 42px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  color: white;
  outline: none;
  padding-left: 15px;
}
footer textarea {
  background: transparent;
  margin-bottom: 30px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  color: white;
  outline: none;
  padding: 10px 0px 0px 15px;
  width: 100%;
  height: 120px;
  resize: none;
}
footer input::placeholder {
  font-size: 14px;
  font-family: montserrat-regular;
  color: #ffffff;
  opacity: 0.7;
}
footer textarea::placeholder {
  font-size: 14px;
  font-family: montserrat-regular;
  color: #ffffff;
  opacity: 0.7;
}
footer form {
  width: 480px;
}
footer form > div:first-of-type {
  display: flex;
  justify-content: space-between;
}
@media (max-width:1600px) {
  header ul {
      margin-right: 140px;
  }
  .container {
      max-width: 1420px;
      width: 100%;
      padding: 0px 40px;
  }
  header {
      padding-top: 35px;
  }
  footer nav a {
      font-size: 16px;
  }
}
@media (max-width:1280px) {
  footer form {
      width: 380px;
  }
  footer input {
      width: 46%;
  }
  header ul {
      margin-right: 100px;
  }
}
@media (max-width:1024px) {
    body.hidden {
      height: 100vh;
      overflow-y: hidden;
    }
    footer .container {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    footer nav ul:last-of-type {
      margin: 30px auto;
    }
}
@media (max-width:768px) {
  footer nav ul:first-of-type {
    flex-direction: column;
  }
  footer nav ul:first-of-type li {
    margin-bottom: 20px;
  }
  footer form > div:first-of-type {
    flex-direction: column;
  }
  footer form > div:first-of-type input {
    width: 100%;
  }
}
@media (max-width:568px) {
  footer nav ul:first-of-type {
      width: 320px;
  }
  footer form {
      width: 320px;
  }
  .container {
      padding: 0px 20px;
  }
}
@media (max-width:414px) {
  footer form {
    width: 280px;
  }
}